body {
		background-color:#FFF0C9;
		}
		#tabla_inicial
		{
		display:inline-block;
		text-align:left;
		background-color:#FFF0C9;
		width:900px;
		}
	.div_1
		{
		text-align:center;
		}
	#td_inicial
		{
		text-align:center;
		}
	h1
		{
		display:inline-block;
		font-size:3em;
		color:rgb(118,20,20);
		}
	#td_escarabajo
		{
		text-align:center;
		}
	#foto_escarabajo
		{
		width:600px;	
		}
	#td_3
		{
		text-align:center;
		}
	#el_automovil_2
		{
		display:inline-block;
		font-size:2em;
		color:rgb(118,20,20);
		}
	#td_4
		{
		width:900px;
		}
	#cursiva
		{
		font-style:italic;
		}
	#subrayado
		{
		text-decoration:underline;
		}
	#etiquetas_medioambientales
		{
		text-align:center;
		color:rgb(187,37,37);
		}
	#tabla_etiquetas
		{
		display:inline-block;
		background-color:rgb(227,193,23);
		border:3px;
		width:800px;
		}
	#td_5
		{
		width:200px;
		text-align:left;
		}
	#foto_etiquetas
		{
		height:267px;
		}
	.salto_1
		{
		height:1em
		}
	#tabla_etiquetas_2
		{
		background-color:#FFF0C9;
		width:800px;
		height:150px;
		}
	#etiquetas_mediambientales_titulo3
		{
		color:rgb(187,37,37);
		}
	#salto_2
		{
		height:2em;
		}
	.negrita
		{
		font-weight:bold;
		}
	#clasificacion
		{
		color:rgb(187,37,37);
		}
	#tabla_clasificacion
		{
		text-align:center;
		background:url(imagenes/carretera.jpg);
		border-style:double;						
		width:600px;
		}
	.salto_3
		{
		height:3em;
		}
	#cuestionario
		{
		color:rgb(187,37,37);
		}
	#URL_compañeros
		{
		color:rgb(187,37,37);
		}
	#tabla_compañeros
		{
		background-color:#FFF0C9;
		}
	.borde_doble
		{
		border-style:double;
		}
	.borde_solido
		{
		border:1px solid black;
		}