body {
		background-color:#FFF0C9;
		}
		#tabla_inicial
		{
		display:inline-block;
		text-align:left;
		background-color:#FFF0C9;
		width:900px;
		}
	#fondo
		{
		background-color:#FFF0C9;
		}
	.center
		{
		text-align:center;
		}
	#h1
		{
		display:inline-block;
		font-size:3em;
		color:rgb(118,20,20);
		}
	#foto_escarabajo
		{
		width:600px;" 
		src="imagenes/escarabajo.jpg" alt="escarabajo"
		}
	#El_ automovil
		{
		display:inline-block;
		font-size:2em;
		color:rgb(118,20,20);
		}
	#ancho_900
		{
		width:900px;
		}
	#cursiva
		{
		font-style:italic;
		}
	#subrayado	
		{
		text-decoration:underline;
		}
	#etiquetas_medioambientales
		{
		text-align:center;
		color:rgb(187,37,37);
		}
	#tabla_etiquetas
		{
		display:inline-block;
		background-color:rgb(227,193,23);
		border:3px;
		width:800px;
		}
	#tabla_etiquetas2
		{
		width:200px;
		text-align:left;
		}
	#foto_etiquetas	
		{
		height:267px;
		}
	.salto
		{
		height:1em;
		}
	#texto_etiquetas
		{
		background-color:#FFF0C9;
		width:800px;
		display:inline-block;
		text-align:left;
		}
	#color_texto_etiquetas
		{
		color:rgb(187,37,37);
		}
	.negrita
		{
		font-weight:bold;
		}
	#clasificacion
		{
		color:rgb(187,37,37);
		text-align:center;
		}
	#tabla_clasificacion
		{
		text-align:center;
		background:url(imagenes/carretera.jpg);
		border-style:double;						
		width:600px;
		display: inline-block;
		}
	#borde_doble_ancho
		{
		border-style:double;
		width:300px;
		}
	#borde_simple_ancho	
		{
		border:1px solid black;
		width:300px;
		}
	.borde_negro
		{
		border:1px solid black;
		}
	.borde_doble
		{
		border-style:double;
		}
	.salto3
		{
		height:3em;
		}
	#linea_bloque
		{
		display:inline-block;
		}
	.color
		{
		color:rgb(187,37,37);
		}
	#tabla_url
		{
		background-color:#FFF0C9;
		text-align:center;
		display:inline-block;
		}